/**
  * @file
  * This contains css for all pages like login, userhome, all user home.
*/
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Lato';
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.topnav {
    overflow: hidden;
    background-color: black;
    color:white;
}
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
}
.topnav a.rightanchortag{
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
}
.topnav a:hover {
    background-color: grey;
    color: white;
}

.topnav a.active {
   border-bottom: 3px solid red;
}

.blog{
	width: 80%;
	margin: 10px auto;
	padding: 10px;
	background-color: #20e3e3;
	box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),
    			 0 4px 20px 0 rgba(0,0,0,0.19);
}
