<h4 style="color:red";> kindly register or login here to post comments </h4>
<div>
<h5><a class="atag" href={{ loginlink }}>Login</h5>
<h5><a class="atag" href={{ registerlink }}>Register</h5>
</div>
